*
{
    -fx-bg: #4059AD;
    -fx-main-blue: #FFFBFE;
    -fx-blue: #3d52d5;
    -fx-main-purple: #f000f0;
    -fx-main-red: #a50104;
}

.root
{
    -fx-background-color: -fx-bg;
}

/*       Buttons       */

/*Control Buttons*/

.control-buttons
{
    -fx-background-radius: 50;
    -fx-max-height: 15;
    -fx-min-height: 15;
    -fx-min-width:15;
    -fx-max-width: 15;
    -fx-cursor: hand;
}

#exit-button
{
    -fx-background-color: red;
}

#minimize-button
{
    -fx-background-color: yellow;
}

#maximize-button
{
    -fx-background-color: green;
}

#title
{
    -fx-padding: 0 0 40 0;
    -fx-spacing: 1px;
}

#title-font
{
    -fx-text-fill: -fx-main-blue;
    -fx-fill: -fx-main-blue;
}

#login-title
{
    -fx-fill: -fx-main-blue;
    -fx-font-weight: bold;
}

.login_inputs
{
    -fx-text-fill: -fx-main-blue;
    -fx-prompt-text-fill: -fx-main-blue;
    -jfx-focus-color: -fx-main-blue;
    -jfx-unfocus-color:transparent;
    -fx-font-weight: 700;
    -fx-padding: 0 0 0 20;
}

.login_inputs:focused
{
    /*-fx-text-fill:black;*/
    -fx-prompt-text-fill: transparent;
}

#login-buttons-wrap
{
    -fx-padding: 20 0 0 0;
}

.login-buttons
{
    -fx-border-color: transparent;
    -fx-text-fill: -fx-main-blue;
    -fx-pref-width: 90;
    -fx-pref-height: 40;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-cursor: hand;
    -fx-background-color: -fx-main-blue;
    -fx-text-fill: -fx-bg;
}

#forgot-button
{
    -fx-padding: 20 0 20 0;
    -fx-border-color: none;
    -fx-background-color: none;
    -fx-text-fill: -fx-main-blue;
    -fx-cursor: hand;
}

#nav
{
    -fx-padding: 2 30 2 30;
}

#hamburger StackPane
{
    -fx-background-color: -fx-main-blue;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

#dashboard-title
{
    -fx-text-fill: -fx-main-blue;
    -fx-fill: -fx-main-blue;
}

.nav-buttons
{
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-text-fill: -fx-main-blue;
    -fx-background-color: -fx-bg;
    -fx-pref-height: 60;
    -fx-max-width: 300;
    -fx-pref-width: 300;
    -fx-min-width: 300;
}

.nav-buttons:hover
{
    -fx-background-color: -fx-main-blue;
    -fx-text-fill: -fx-bg;
    -fx-border-color: -fx-main-blue;
}

#nav-drawer
{
    /*-fx-pref-width: 200;*/
    /*-fx-border-color: -fx-main-blue;*/
    /*-fx-border-width: 0px 0px 0px 0px;*/
}

#dashboard-main {
    -fx-background-color: -fx-main-blue;
}

#icons
{
    -fx-font-family: FontAwesome;
}

.jfx-radio-button
{
    -fx-text-fill: white;
    -jfx-selected-color: white;
    -jfx-unselected-color: white;
}

